<div id="block-lists" class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Watching Lists", user_watching_index_path(current_user) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Watching Lists</h2>
    <div class="inner">
      <ul class="list">
        <% @lists.each do |list| %>
          <li>
            <div class="left">
              <%= image_tag(list.user.avatar_url(:thumb)) %>
            </div>
            <div class="public-item">
              <p>
                <%= link_to list.name, user_watching_path(current_user, list) %>
                <% if !list.pending_tasks.empty? %>
                  (<%= list.pending_tasks.count %> left)
                <% else %>
                  (completed)
                <% end %>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

