<div id="block-text" class="block">
  <div class="content">
    <h2 class="title">Home</h2>
    <div class="inner">
      <p class="first">
        Please use the navigation bar above to move around the site.
      </p>
    </div>
  </div>
</div>
